#!/bin/bash
# ~/.aliases

# Shorten useful but long commands. Or ones I forget
alias nolink="find -L $DIR -maxdepth 1 -type l -delete" # delete dead symlinks
alias upup="sudo apt update && sudo apt upgrade && sudo apt autoremove"
alias get="sudo apt-get -q -y -o Dpkg::Use-Pty=0 install"
alias chrome="google-chrome" 
alias cip="curl -s http://checkip.dyndns.org | sed 's/[a-zA-Z<>/ :]//g'" # "see" my ip address
alias down="cd ~/Downloads"

# SQL stuff
alias ocps="psql -U $USER -d ocps"

# Do python stuff
alias pip="pip3"

# Do java stuff

# Call AppImages

# List a variety of things various ways.
alias colortest="colortest-python -n"
alias all="exa -a"
alias akk="exa -a" # ... typos
alias ALL="exa -a"
alias tree="exa -Ta"
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias processing=~/src/processing/processing
